<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pick your adventure</title>
    </head>
    <html style="background-image: url('images_finalproject/image0.webp'); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center;">
        <h3>
            <div>It’s midnight on a Saturday night. The sound of the wind whistling echoes through your ears. Suddenly you hear a knock on the door. You’re unsure of whether to answer it. What do you do?</div>
        </h3>
        <div>
            <form action="dynaform.py" method="GET">
                <input type="hidden" name="question" value="1">
                <input type="radio" name="choice" value="a">
                Definitely answer it<input type="radio" name="choice" value="b">
                Run away<input type="submit" value="Submit!">
            </form>
        </div>
        <div>
            <span style="background-color: white;">
        </div>
</body></html>
