nav {
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
}

.navitem {
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  background-color: darkgrey;
  float: left;
  display: block;
  color: white;
  text-align: center;

  text-decoration: none;

}

.navitem-current
{
  list-style-type: none;
  margin: 10px;

  background-color: aliceblue;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;


}


h1 {
  color: blue;
}
body {
  background-color: #faebd7;
  text-align: justify;
  font-family: "Times";
  font-size: 20px;
}

img {
  margin: 10px;
}


div {
  border: solid;
  padding: 25px;
  vertical-align: text-top;
  }


.category1
{ width: 1000px;
  margin: auto;
height: 60px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  height: 350px;
  width: 350px;
}

.category2
{ width: 1000px;
  margin: auto;
height: 175px;

}

.category3
{ width: 1000px;
  margin: auto;
height: 80px
}

.category4
{ width: 1000px;
  margin: auto;
height: 155px;
}

.category6
{ height: 300px;
margin: auto;
  }

.category8
{ width: 1300px;
  height: 170px;
  }

  .category9
  { width: 600px;
    }

.category10
{ width: 600px}
.cellpotency
{ float: right;
  margin-top: 100px
}

.Bones {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  width: 1000px;
}

.fit-picture
{
  float: right;
}
