h1 {
  color: blue;
}



body {
  background-color: #faebd7;
  text-align: justify;
  font-family: "Serif";
}

image {
  width: %px;
  height: 75%px;
}
ul {
  font-size: 24px;
  font-weight: bold;
  border: solid;
}


</body>
